@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* variables*/
:root {
    --container-color: #ff89eb;
    --second-color: #c00ed8;
    --text-color: #000;
    --bg-color: #ffffff;
}

::selection {
    color: #ffffff;
    background: var(--second-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img{
    width: 80%;
}

section {
    padding: 3rem 0 2rem;
}

body{ font-family: "Poppins", system-ui;}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: flex;
    align-items: center;
}

.logo{
    color: var(--bg-color);
    font-size: 25px;
    font-weight: 800;
}

.home{
    width: 100%;
    min-height: 440px;
    background-color: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}











.menu .navbar ul li{
    font-size: 18px;
    padding: 20px;
    color: var(--second-color);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: var(--container-color);
}



.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: var(--container-color);
    color: var(--text-color);
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: var(--second-color);
}

