@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* Variables */
:root {
    --container-color: #ff89eb;
    --second-color: #c00ed8;
    --text-color: #000;
    --bg-color: #ffffff;
}

::selection {
    color: #ffffff;
    background: var(--second-color);
}

body {
    font-family: "Poppins", system-ui;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background-color: var(--container-color);
    padding: 1rem 0;
}

.logo {
    color: var(--bg-color);
    font-size: 25px;
    font-weight: 800;
}

/* Navbar */
.navbar ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    background-color: var(--container-color);
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: var(--bg-color);
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--second-color);
}

/* Post Diseño Responsive */
.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Al menos 3 posts en pantallas grandes */
    gap: 2rem;
    margin-top: 5rem; /* Ajustar margen superior para evitar sobreposición con el header */
}

.post-content {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Fecha de publicación */
.post-date {
    font-size: 0.875rem;
    color: #888;
    margin-bottom: 1rem;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: var(--container-color);
    color: var(--text-color);
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: var(--second-color);
}

/* Footer */
.footer {
    background-color: var(--container-color);
    color: var(--bg-color);
    padding: 2rem 0;
    text-align: center;
}

.footer-container .social-media a {
    color: var(--bg-color);
    font-size: 1.5rem;
    margin: 0 1rem;
}

.footer-container .navbar ul {
    justify-content: center;
    gap: 2rem;
}

.txt-footer {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: var(--bg-color);
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .post-list {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
}
